# Ignore frontend files from language stats
src/main/resources/templates/* linguist-detectable=false
src/main/resources/static/* linguist-detectable=false

# Ignore CSS globally
*.css linguist-detectable=false
