# Ignore Thymeleaf templates (HTML)
src/main/resources/templates/** linguist-detectable=false

# Ignore static frontend assets
src/main/resources/static/** linguist-detectable=false

# Optional: ignore CSS/JS globally
*.css linguist-detectable=false
*.js linguist-detectable=false
